.header {
  background: #6D635F !important;
  padding: 0px !important;
}

.logo_text {
  text-shadow: 0 0 2em rgba(0, 0, 0, 0.1);
  font-size: 32px !important;
  font-family: "Open Sans";
  font-weight: bold;
  color: #FFFFFF;
}

.menu {
  color: #FFFFFF;
  font-family: "Open Sans";
  font-weight: bold;
  font-size: 16px !important;
  background-color: #6D635F;
}
