.title1 {
  font-family: "Open Sans";
  font-weight: 500;
  font-size: 2rem !important;
}

.text {
  font-family: Arial,Helvetica,sans-serif;
  color: #333;
  font-size: 1.1rem;
  line-height: 1.5;
}

.title2 {
    font-family: "Open Sans";
    font-weight: 500;
    font-size: 1.6rem !important;
    color: #E13427 !important;
}

.price {
  color: #16c784;
  font-weight: bold;
  font-size: 1.2rem;
}

.title3 {
  font-family: Arial,Helvetica,sans-serif;
  color: #333;
  font-size: 1.5rem;
  font-weight: 700;
}
