.container {
  position: relative;
}

.image1 {
  width: 1632px;
  height: 550px;
  display: flex !important;
  justify-content: center;
  align-items: center;
}

.image2 {
  width: 1632px;
  height: 550px;
  display: flex !important;
  justify-content: center;
  align-items: center;
}

