.content {
  background: #ffffff;
  padding: 20px;
  position: absolute;
  top: 0;
  display: grid;
  min-height: 1110px;
}

.card {
  width: 360px ;
  background: #f6efc8;
  color: #c1a140
}

.text {
    font-size: 15px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.57;
    letter-spacing: normal;
    text-align: left;
    color: #c1a140;
}
