.footer {
 text-align: center;
  display: flex;
}

.container {
  background-color: #6D635F !important;
  display: flex;
  flex: 1;
  padding: 30px 60px;
  min-height: 250px;
}

.title {
  font-size: 16px !important;
  line-height: 1.625em !important;
  font-family: 'Open sans' !important;
  font-weight: 400 !important;
  color: white !important;
}

.text {
  font-size: 16px !important;
  line-height: 1.625em !important;
  font-family: 'Open sans' !important;
  font-weight: 400 !important;
  color: white !important;
}

.main_title {
  margin-left: 100px;
  color: white !important;
  font-family: 'Open sans' !important;
}
