.space {
  position: absolute;
  top: 100px;
  padding-left: 250px !important;
}

.title {
  font-family: "Open Sans";
  font-size: 55px !important;
  color: #FFFFFF;
  text-shadow: 0 0.04em 0.8em rgba(0, 0, 0, 0.9);
  font-weight: 600;
  margin-right: 200px;
}
